:root {
    --logo-color: #000;
    --bg-color: #2d3436;
    --bg-color-gradient: radial-gradient(circle, #dfe6e9 0%, #b2bec3 100%);
    --link-color: #000;
    --id-color-green: #1abc9c;
    --id-color-purple: #9b59b6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --logo-color: #fff;
        --bg-color: #2d3436;
        --bg-color-gradient: radial-gradient(circle, #2d3436 0%, #202526 100%);
        --link-color: #fff;
    }
}

/* alata-regular - latin */
@font-face {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/alata-v2-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('fonts/alata-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/alata-v2-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/alata-v2-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/alata-v2-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/alata-v2-latin-regular.svg#Alata') format('svg');
    /* Legacy iOS */
}

/* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/dm-sans-v6-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('fonts/dm-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/dm-sans-v6-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/dm-sans-v6-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/dm-sans-v6-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/dm-sans-v6-latin-regular.svg#DMSans') format('svg');
    /* Legacy iOS */
}

/* dm-sans-500 - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/dm-sans-v6-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('fonts/dm-sans-v6-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/dm-sans-v6-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/dm-sans-v6-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/dm-sans-v6-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/dm-sans-v6-latin-500.svg#DMSans') format('svg');
    /* Legacy iOS */
}

/* dm-sans-700 - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/dm-sans-v6-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('fonts/dm-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/dm-sans-v6-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/dm-sans-v6-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/dm-sans-v6-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/dm-sans-v6-latin-700.svg#DMSans') format('svg');
    /* Legacy iOS */
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1rem;
    font-family: 'DM Sans';
    font-weight: 400;
    color: var(--logo-color);
    margin: 0;
    background: var(--bg-color);
    background: var(--bg-color-gradient);
    text-align: center;
}

h1,
h2,
h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

p,
b,
ul,
li {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
    max-width: 80%;
}

.flex-item {
    padding: 5px;
    margin: 10px;
    line-height: 20px;
    width: 300px;
    max-width: 100%;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

path {
    fill: var(--logo-color);
}

.smalllogo {
    width: 10rem;
}

.period {
    animation: colorchange1 10s linear infinite;
}

.period2 {
    animation: colorchange2 10s linear infinite;
}

@keyframes "colorchange1" {
    0% {
        fill: var(--id-color-green);
    }

    50% {
        fill: var(--id-color-purple);
    }

    100% {
        fill: var(--id-color-green);
    }
}

@keyframes "colorchange2" {
    0% {
        fill: var(--id-color-purple);
    }

    50% {
        fill: var(--id-color-green);
    }

    100% {
        fill: var(--id-color-purple);
    }
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 700;
    transition: 0.5s ease;
}

a:hover {
    text-decoration: none;
    color: var(--id-color-green);
}

nav {
    font-size: 1.2rem;

    a {
        text-decoration: none;
        text-transform: lowercase;
        font-size: 1.2rem;
        color: var(--link-color);
        transition: 0.5s ease;
    }

    a:hover {
        color: var(--id-color-green);
        text-decoration: none;
    }

    a:nth-child(2):hover, a:nth-child(4):hover {
        color: var(--id-color-purple)
    }

    a.active {
        color: var(--id-color-green)
    }
}

.domains {
    display: flex;

    .flexbox {
        flex: 1;
        margin: .5rem;
    }
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    line-height: 1.5rem;
    font-weight: 500;
}